@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}

.service_box:hover {
  background-color: #ffc930;
  color: white;
  transition: 0.3s;
}

.btn_hover:hover {
  transition: 1s;
  .icon {
    display: block;
    transition: 1s;
  }
}
